APScheduler==3.6.3
autopep8==1.5.4
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
decorator==4.4.2
emoji==0.6.0
idna==2.10
pycodestyle==2.6.0
pycparser==2.20
python-telegram-bot==13.1
pytz==2020.4
requests==2.25.0
six==1.15.0
toml==0.10.2
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
wincertstore==0.2
